<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>RustiClipboard</strong> - <a href="https://petrostrak.netlify.app/">petrostrak.netlify.app</a>.
        </p>
    </div>
</footer>