<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>RustiClipboard</strong> is a component of the Rust programming course available at <a
                href="https://petrostrak.netlify.app/">zerotomastery.io</a>.
        </p>
    </div>
</footer>